<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employee</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.hibernate_show_sql">true</property>
        <property name="hibernate.hibernate_hbm2ddl_auto">validate</property>

        <mapping class="net.proselyte.crud.model.Account"/>
        <mapping class="net.proselyte.crud.model.Skill"/>
        <mapping class="net.proselyte.crud.model.Developer"/>
        <mapping class="net.proselyte.crud.model.Phones"/>
        <!--<mapping class="net.proselyte.crud.model.ClassId"/>-->
        <!-- DB schema will be updated if needed -->
    </session-factory>
</hibernate-configuration>